*{
  padding: 0;
  margin: 0;
  font-family: cursive;
}
/*Encabezado*/
header{
  width: 100%;
  height: 100px;
  background-color: darkred;
}
/*Titulo del encabezado*/
h1{
  text-align: center;
  padding: 35px;
  color: white;
}
/*navegacion*/
nav ul{
  background-color: red;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline-flex;
}
nav a{text-decoration: none;
  color: white;
  padding: 10px;
  width: 150px;
}
nav li:hover{
  background-color: darkred;
}
footer {
  width: 100%;
  height: 100px;
  background-color: darkred;
  text-align: center;
  color: white;
}
center{
  font-size: 20px;
}
strong{
  font-size: 25px;
}
#logo{
  width: 100px;
  height: 100px;
}
#Banner{
  float: right;
  height: 100%;
  align-items: center;
}
